:root {
	--primary-text-color: #757575;
	--secondary-text-color: #212121;
	--accent-color: #2196f3;
	--additional-color: #ffffff;
	--logo-color: #000000;
	--footer-contacts-color: rgba(255, 255, 255, 0.6);
	--overlay-color: rgba(47, 48, 58, 0.8);
	--overlay-hero: rgba(47, 48, 58, 0.4);
	--portfolio-overlay: rgba(33, 150, 243, 0.9);
	--secondary-background: #f5f4fa;
	--footer-background: #2f303a;
	--clients-logo-border: #afb1b8;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	color: var(--primary-text-color);
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
}

footer {
	margin-top: 94px;

	background-color: var(--footer-background);
}

button {
	font-family: inherit;
}

img {
	display: block;
	margin: 0;
	max-width: 100%;
}

/*Utilities*/

.list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.container {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	/* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

/*Logo*/

.logo {
	color: var(--logo-color);
	font-family: Raleway, serif;
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
	text-decoration: none;
}

.logo.logo-first {
	color: var(--accent-color);
}

.logo.logo-footer {
	color: var(--additional-color);
}

/*Navigation*/

.page-header {
	position: relative;
	margin: 0;
	border-bottom: 1px solid #ececec;
}

.main-nav {
	display: flex;
	align-items: center;
}

.site-nav {
	display: flex;
	margin-left: 75px;
}

.contacts {
	display: flex;
	margin-left: auto;
}

.site-nav-item {
	margin-right: 50px;
	position: relative;
}

.site-nav-item:last-child {
	margin-right: 0;
}

.contacts-item {
	margin-right: 30px;
}

.contacts-item:last-child {
	margin-right: 0;
}

.site-nav-link,
.contacts-link {
	padding-top: 32px;
	padding-bottom: 32px;
	display: block;

	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
	text-decoration: none;
}

.site-nav-link {
	color: var(--secondary-text-color);
}

.site-nav-link::after {
	content: "";
	background-color: #ffffff;
	transition-property: background-color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav-link:hover::after,
.site-nav-link:focus::after,
.site-nav-link.current::after {
	content: "";
	width: 100%;
	height: 4px;
	border-radius: 2px;
	background-color: var(--accent-color);
	position: absolute;
	bottom: 0;
	left: 0;
	transform: translate(0px, 1px);
}

.site-nav-link.current {
	color: var(--accent-color);
}

.contacts-link {
	color: var(--primary-text-color);
	fill: var(--primary-text-color);
	transition-property: color, fill;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-contacts {
	margin-right: 10px;
	vertical-align: middle;
}

.site-nav-link:hover,
.contacts-link:hover,
.site-nav-link:focus,
.contacts-link:focus {
	color: var(--accent-color);
	fill: var(--accent-color);
}

/*Hero*/

.hero {
	color: var(--additional-color);
	text-align: center;
	letter-spacing: 0.06em;
}

.hero-section {
	padding-top: 200px;
	padding-bottom: 200px;
	height: 600px;
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;

	background-color: var(--overlay-color);
	background-image: linear-gradient(var(--overlay-hero), var(--overlay-hero)), url(../images/hero.jpg);
	background-position: center;
	background-size: cover;
}

.hero-text-area {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
}

.hero-title {
	margin-top: 0;
	margin-bottom: 30px;
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-transform: uppercase;
}

/*Buttons*/

.button {
	display: inline-block;
	border: 1px solid transparent;
	border-radius: 4px;
	padding: 10px 32px;
	min-width: 200px;

	background-color: var(--additional-color);
	color: var(--primary-text-color);
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	text-align: center;
	letter-spacing: 0.06em;

	cursor: pointer;
}

.button.primary {
	background-color: var(--accent-color);
	color: var(--additional-color);
}

.subscribe {
	padding-left: 29px;
	padding-right: 28px;
}

.subscribe-icon {
	fill: var(--additional-color);

	width: 24px;
	height: 24px;
	margin-left: 10px;

	vertical-align: middle;
}

.button.filter {
	background-color: var(--secondary-background);
	color: var(--secondary-text-color);
	line-height: 1.88;
	letter-spacing: 0.03em;
	padding: 6px 22px;
	min-width: 73px;

	transition-property: color, background-color, box-shadow;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-item {
	margin-left: 8px;
}

.filter-item:first-child {
	margin-left: 0;
}

.button.filter:hover,
.button.filter:active,
.button.filter:focus {
	background-color: var(--accent-color);
	color: var(--additional-color);
	outline: none;
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*Section*/

.section {
	margin-top: 94px;
}

.section-title {
	margin-top: 0;
	margin-bottom: 50px;

	color: var(--secondary-text-color);
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
}

.section-title-description {
	margin-top: 30px;
	margin-bottom: 10px;

	color: var(--secondary-text-color);
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
}

.section-title-description.white {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 27px;
	padding-bottom: 27px;
	display: block;
	position: absolute;
	bottom: 0;
	width: 100%;

	background-color: var(--overlay-color);
	color: var(--additional-color);
	text-align: center;
}

/*Advantages*/

.advantages {
	display: flex;
}

.advantages-item {
	width: calc((100% - 90px) / 4);
}

.advantages-item:not(:last-child) {
	margin-right: 30px;
}

.advantages-bg {
	display: flex;

	height: 120px;
	align-items: center;
	justify-content: center;
	background-color: var(--secondary-background);
	border-radius: 4px;
}

.advantages-icon {
	width: 70px;
	height: 70px;
}

/*Products*/

.products {
	display: flex;
}

.products-item {
	width: calc((100% - 60px) / 3);

	position: relative;
}

.products-item:not(:last-child) {
	margin-right: 30px;
}

/*Team*/

.section-grey {
	padding-top: 94px;
	padding-bottom: 94px;
	margin-top: 94px;

	background-color: var(--secondary-background);
}

.team-member {
	display: flex;
	font-size: 16px;
	line-height: 1.18;
	text-align: center;
}

.team-member-card {
	width: calc((100% - 90px) / 4);

	background-color: var(--additional-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}

.team-member-card:not(:last-child) {
	margin-right: 30px;
}

.team-member.name {
	margin-top: 0;
	margin-bottom: 10px;
	display: block;
	color: var(--secondary-text-color);
	font-weight: 500;
}

.team-member.prof {
	margin-top: 0;
	margin-bottom: 16px;
	display: block;
}

.team-member-description {
	padding-top: 30px;
	padding-bottom: 24px;
	padding-left: 32px;
	padding-right: 32px;
}

/*Clients*/

.clients {
	margin-top: 94px;
}

.clients-list {
	display: flex;
	align-items: center;
}

.clients-list-item {
	display: flex;

	width: calc((100% - 150px) / 6);
	height: 90px;
	border: 1px solid var(--clients-logo-border);
	border-radius: 4px;

	transition-property: border-color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-item:hover,
.clients-list-item:focus {
	border-color: var(--accent-color);
}

.clients-list-item:not(:last-child) {
	margin-right: 30px;
}

.clients-link {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 90px;
	width: 170px;
	margin: 0;
	padding: 0;
	fill: var(--clients-logo-border);

	transition-property: fill;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
	fill: var(--accent-color);
}

/*Portfolio*/

.portfolio-card {
	width: calc((100% - 60px) / 3);
	margin-right: 30px;
	margin-bottom: 30px;
}

.portfolio-card-link {
	color: inherit;
	text-decoration: none;
	display: block;
	margin: 0;
	padding: 0;

	background: #ffffff;

	transition-property: box-shadow;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card-link:hover,
.portfolio-card-link:focus {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-card:nth-last-child(-n + 3) {
	margin-bottom: 0;
}

.portfolio-card:nth-child(3n) {
	margin-right: 0;
}

.portfolio-item {
	padding: 20px 24px;
	border-left: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
}

.portfolio-item-title {
	margin: 0;

	color: var(--secondary-text-color);
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
}

.overlay-portfolio-text {
	position: relative;
	overflow: hidden;
}

.portfolio-card-link:hover .portfolio-item-text,
.portfolio-card-link:focus .portfolio-item-text {
	transform: translatey(0);
	width: 370px;
	height: 294px;
}

.portfolio-item-description {
	margin-top: 4px;
	margin-bottom: 0;

	font-size: 16px;
	line-height: 1.87;
}

.portfolio-item-text {
	margin: 0;
	padding: 63px 24px;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;

	background-color: var(--portfolio-overlay);
	color: var(--additional-color);
	font-size: 18px;
	line-height: 1.56;

	transform: translatey(101%);

	transition-property: transform;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-list {
	display: flex;
	justify-content: center;
}

.filter-section {
	margin-top: 94px;
}

.works-section {
	margin-top: 50px;
}

.works-list {
	display: flex;
	flex-wrap: wrap;
}

/*Footer*/

.footer-link {
	color: var(--footer-contacts-color);
	font-style: normal;
	text-decoration: none;
}

.footer-link.address {
	color: var(--additional-color);
}

.footer-action {
	margin-bottom: 20px;

	color: var(--additional-color);
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
}

.footer-columns {
	display: flex;
	align-items: baseline;
	padding-bottom: 60px;
	padding-top: 60px;
}

.logo-address {
	margin-right: 69px;
}

.address {
	margin-top: 20px;
}

.footer-contacts-mail {
	margin-top: 9px;
}

.footer-contacts-phone {
	margin-top: 6px;
}

/*Social links*/

.social-link {
	display: flex;
	align-items: center;
}

.social-link > li:not(:last-child) {
	margin-right: 10px;
}

.social-link-item {
	display: flex;
	align-items: center;
	margin: 0px;
	padding: 12px;

	fill: var(--clients-logo-border);
	background-color: #ffffff;
	border-radius: 50%;

	transition-property: fill, background-color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-item:hover,
.social-link-item:focus,
.social-link-item.footer:hover,
.social-link-item.footer:focus {
	fill: var(--additional-color);
	background-size: 44px 44px;
	background-color: var(--accent-color);
	border-radius: 50%;
}

.social-link-icon:hover,
.social-link-icon:focus {
	fill: var(--additional-color);
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-item.footer {
	fill: var(--additional-color);
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 50%;

	transition-property: fill, background-color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.follow-block {
	margin-right: 94px;
}

/*Modal*/

.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);

	opacity: 1;
	transition-property: opacity;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	max-width: 528px;
	height: 500px;

	background-color: #ffffff;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}

.close-button {
	position: absolute;
	right: 8px;
	top: 8px;

	width: 30px;
	height: 30px;

	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	color: black;
	background-image: url(../images/icons/close-icon.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 11px 11px;

	cursor: pointer;
}

.backdrop.is-hidden {
	visibility: hidden;
	pointer-events: none;
	opacity: 0;
}
